body {
    background: rgba(253, 253, 253, 0.06) url("../images/pattern/gray-squares.png") repeat 0 0;
}
.main-wrapper {
    box-shadow: 0 1px 19px rgba(0, 0, 0, 0.53);
}
.navbar{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edecec+0,cecece+99 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,eeedee+99 */
background: rgb(251,251,251); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(251,251,251,1) 0%, rgba(238,237,238,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(238,237,238,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(251,251,251,1) 0%,rgba(238,237,238,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#eeedee',GradientType=0 ); /* IE6-9 */

}
.body-nav.body-nav-horizontal {
    background-color: #D01C29;
}
#left {
	background-color: #D01C29 !important;

}
.application-footer  .container{
	background-image: url("../images/footer-bg.png");
	background-position: 0 0;
	background-repeat: repeat;
}
.application-footer {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefee+0,cdcecd+100 */
background: rgb(239,239,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(239,239,238,1) 0%, rgba(205,206,205,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(239,239,238,1) 0%,rgba(205,206,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(239,239,238,1) 0%,rgba(205,206,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefee', endColorstr='#cdcecd',GradientType=0 ); /* IE6-9 */
color: #000;
border-top: 2px solid #D01C29;
}

.nav-dropdown {
	  background-color: #D01C29;
}

.nav-menu > .has-dropdown ul li {
   border-bottom: 1px solid #6AB09C;
}

#body-content {
  padding-top: 0px;
   position: relative;
    z-index: 9999;
  overflow: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fbfb+0,dfe8e9+100 */
background: rgb(249,251,251); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,251,251,1) 0%, rgba(223,232,233,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(249,251,251,1) 0%,rgba(223,232,233,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(249,251,251,1) 0%,rgba(223,232,233,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fbfb', endColorstr='#dfe8e9',GradientType=0 ); /* IE6-9 */
}

.tabs-wrapper #tabs #current a,
.tabs-wrapper #tabs #current a::after {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8991+0,d01c29+100 */
background: rgb(255,137,145); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,137,145,1) 0%, rgba(208,28,41,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,137,145,1) 0%,rgba(208,28,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,137,145,1) 0%,rgba(208,28,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8991', endColorstr='#d01c29',GradientType=0 ); /* IE6-9 */

  z-index: 3;
  color: #fff;

}

.tabs-wrapper #tabs a:hover,
.tabs-wrapper #tabs a:hover::after,
.tabs-wrapper #tabs a:focus,
.tabs-wrapper #tabs a:focus::after {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d01c29+0,ff8991+100 */
background: rgb(208,28,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(208,28,41,1) 0%, rgba(255,137,145,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(208,28,41,1) 0%,rgba(255,137,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(208,28,41,1) 0%,rgba(255,137,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d01c29', endColorstr='#ff8991',GradientType=0 ); /* IE6-9 */

color: #fff;

}
.btn-primary, .btn-info {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8991+0,d01c29+100 */
background: rgb(255,137,145); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,137,145,1) 0%, rgba(208,28,41,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,137,145,1) 0%,rgba(208,28,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,137,145,1) 0%,rgba(208,28,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8991', endColorstr='#d01c29',GradientType=0 ); /* IE6-9 */

color: #fff;   
}
.btn-primary:hover, .btn-info:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d01c29+0,ff8991+100 */
background: rgb(208,28,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(208,28,41,1) 0%, rgba(255,137,145,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(208,28,41,1) 0%,rgba(255,137,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(208,28,41,1) 0%,rgba(255,137,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d01c29', endColorstr='#ff8991',GradientType=0 ); /* IE6-9 */
border: 1px solid #ccc;
color: #fff;   
}
.panel-heading {
  background-color: #289EB3;
}
.sec-box h3{
	background: #D01C29 !important;
}

#app-nav-top-bar .dropdown-menu li > a:hover, #app-nav-top-bar .dropdown-menu li > a:focus, #app-nav-top-bar .dropdown-submenu:hover > a{
	background-color:#D01C29;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #D01C29), color-stop(100%, #066954));
	background:-webkit-linear-gradient(top, #D01C29 0%, #066954 100%);
	background:-moz-linear-gradient(top, #D01C29 0%, #066954 100%);
	background:-ms-linear-gradient(top, #D01C29 0%, #066954 100%);
	background:-o-linear-gradient(top, #D01C29 0%, #066954 100%);
	background:linear-gradient(to bottom, #D01C29 0%, #066954 100%);
}